@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
table { 
    border-collapse:collapse; 
}
.q3__contents {
  width: 100%;
  border: 1px solid #dedede;
  table-layout: fixed;
}
.q3__contents .date,
.q3__contents .food {
  padding: 10px;
  border: 1px solid #dedede;
  vertical-align: middle;
}

.q3__contents .date {
  background-color: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px;
}
.q3__contents .food{
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.q3__contents tbody tr:nth-child(even) {
  background-color: #ECF1F2;
}
.q3__contents tbody tr:last-child {
  border-top: 2px dashed #000;
}