@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.text-align{
    margin: 0 auto;
    text-align: center;
    width: 90px;
    padding: 10px 0;
    background-color: #e6f2ff;
}
.margin{
    margin: 0 auto;
    text-align: center;
    width: 90px;
    padding: 10px 0;
    background-color: #e6f2ff;
}

.q6--around.is-table{
    display: table;
    margin-top: 20px;
}
.q6-box{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.q6--around.is-table .q6-box-text{
    padding: 10px;
    background-color: white;
    display: inline-block;
}
.q6--around.is-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.q6--around.is-flex .q6-box-text{
    padding: 10px;
    background-color: white;
    display:inline-block;
}

.q6--position .q6__box {
  position: relative;
}
.q6__box.is-stable .q6__box__inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.q6__box.is-flexible .q6__box__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}